body {
  max-width: 1200px; }
  body h1 {
    font-size: 80px;
    color: #33CC33; }
  body #left {
    float: left;
    width: 20%; }
    body #left #palette {
      margin-left: 30px; }
  body #container {
    float: right;
    width: 80%; }
    body #container #canvas {
      margin-left: 5px;
      position: relative; }
