h1{
	font-size: 80px;
	color: #FF4D4D;
	position: center;
}

body{
	background-color: #33CC33;
	#container{
	#buttons{
		float: right;
		display: inline;
		margin-left: 50px;
		display: inline;
	}
	#canvas{
		margin-left: 100px;
		float:left;
		position: relative;
		display: inline;
	}
	#palette{
		float: left;
		display: inline;
		margin-left: 30px;
	}
}
}
