h1 {
  font-size: 80px;
  color: #FF4D4D;
  position: center; }

body {
  background-color: #33CC33; }
  body #container #buttons {
    float: right;
    display: inline;
    margin-left: 50px;
    display: inline; }
  body #container #canvas {
    margin-left: 100px;
    float: left;
    position: relative;
    display: inline; }
  body #container #palette {
    float: left;
    display: inline;
    margin-left: 30px; }
